@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;

  --color-ravagx-bg: #121212;
  --color-ravagx-card: #1c1c1e;
  --color-ravagx-orange: #ff4d29;
  --color-ravagx-gray: #a1a1aa;
  --color-ravagx-border: #2a2a2e;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #121212;
  color: #ffffff;
}
